@import "tailwindcss";

@layer base {
  /* body {
    @apply bg-background text-foreground;
    font-family: "Nunito", sans-serif;
  } */

  html {
    font-size: var(--font-size);
    scroll-behavior: smooth;
  }

  h1 {
    font-size: var(--text-2xl);
    font-weight: 600;
    line-height: 1.4;
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: 500;
    line-height: 1.4;
  }

  h3 {
    font-size: var(--text-lg);
    font-weight: 500;
    line-height: 1.5;
  }

  h4 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
    /* font-family: "Nunito", sans-serif; */
  }

  label {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
    /* font-family: "Nunito", sans-serif; */
  }

  input {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
    /* font-family: "Nunito", sans-serif; */
  }
}
